(e/defn WebviewDeclarative [db]
  (hfql
    {($ Teeshirt-orders db .)
     ['db/id
      'order/email
      {^{:hf/options ($ Genders db .)}
       'order/gender ['db/ident]}
      {^{:hf/options ($ Shirt-sizes db gender .)}
       'order/shirt-size ['db/ident]}]}))