{:deps    {com.hyperfiddle/electric       {:mvn/version "v3-alpha-SNAPSHOT"}
           com.hyperfiddle/hyperfiddle    {:local/root "vendor/hyperfiddle.jar"}
           ring/ring                      {:mvn/version "1.11.0"} ; comes with Jetty
           org.clojure/clojure            {:mvn/version "1.12.0-alpha5"}
           org.clojure/clojurescript      {:mvn/version "1.11.121"}
           org.clojure/tools.logging      {:mvn/version "1.2.4"}
           ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
           datascript/datascript          {:mvn/version "1.6.1"}
           }
 :paths   ["src" "resources" "target/classes"]
 :aliases {:dev
           {:extra-paths ["src-dev"]
            :extra-deps  {thheller/shadow-cljs          {:mvn/version "2.26.2"}
                          io.github.clojure/tools.build {:mvn/version "0.9.6"
                                                         :exclusions  [com.google.guava/guava  ; Guava version conflict between tools.build and clojurescript.
                                                                       org.slf4j/slf4j-nop]}}} ; clashes with app logger
            ; clashes with app logger
           :local-deps {:override-deps {com.hyperfiddle/electric {:local/root "vendor/electric"} ; git submodule update --init
                                        com.hyperfiddle/hyperfiddle {:local/root "vendor/hyperfiddle"}}}
           }
 }
