{:deps  {com.hyperfiddle/electric       {:mvn/version "v3-alpha-SNAPSHOT"}
         com.hyperfiddle/hyperfiddle    {:local/root "vendor/hyperfiddle"}
         com.hyperfiddle/rcf            {:git/url "https://github.com/hyperfiddle/rcf" :git/sha "7105b43231140de6f2f39ce38611c9f6c9dfc976"}
         org.clojure/clojure            {:mvn/version "1.12.0"}
         org.clojure/clojurescript      {:mvn/version "1.11.121"}
         org.clojure/tools.logging      {:mvn/version "1.2.4"}
         ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
         ring/ring-core                 {:mvn/version "1.11.0"} ; no hard-coded HTTP server, specified in :dev, :prod, :jetty, :httpkit aliases
         ring-basic-authentication/ring-basic-authentication {:mvn/version "1.2.0"}
         }

 :paths ["src" "resources"]

 :aliases
 {:dev
  {:extra-paths   ["src-dev"]
   :extra-deps    {ring/ring-jetty-adapter {:mvn/version "1.11.0"} ; same as `:jetty` alias
                   binaryage/devtools   {:mvn/version "1.0.7"}
                   thheller/shadow-cljs {:mvn/version "2.26.2" :exclusions [org.clojure/clojurescript]}
                   io.github.clojure/tools.build
                   {:mvn/version "0.9.6"
                    :exclusions  [com.google.guava/guava ; Guava version conflict between tools.build and clojurescript.
                                  org.slf4j/slf4j-nop    ; clashes with app logger
                                  ]}}
   :jvm-opts      ["-XX:-OmitStackTraceInFastThrow" ; For RCF
                   ]}

  :profile {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                         com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.2"}}
            :jvm-opts ["-Djdk.attach.allowAttachSelf"
                       "-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"]}

  :build
  ;; use `clj -X:build build-client`, NOT -T! build/app classpath contamination cannot be prevented
  {:extra-paths ["src-build"]
   :ns-default  hyperfiddle.fiddle-build
   :extra-deps
   {thheller/shadow-cljs          {:mvn/version "2.26.2"}
    io.github.clojure/tools.build {:mvn/version "0.9.6"
                                   :exclusions  [com.google.guava/guava ; Guava version conflict between tools.build and clojurescript.
                                                 org.slf4j/slf4j-nop    ; clashes with app logger
                                                 ]}}}

  :prod
  {:extra-paths ["src-prod"]
   :extra-deps {ring/ring-jetty-adapter {:mvn/version "1.11.0"}
                com.google.javascript/closure-compiler-unshaded {:mvn/version "v20230802"}}} ; deps conflict

  :private
  {:extra-paths ["src-private"]
   :override-deps {com.hyperfiddle/electric {:local/root "vendor/electric"}
                   com.hyperfiddle/hyperfiddle {:local/root "vendor/hyperfiddle"}
                   com.hyperfiddle/rcf      {:local/root "vendor/rcf"}}}

  :jetty ; jetty http server, default in :dev and :prod
  {:extra-deps {ring/ring-jetty-adapter {:mvn/version "1.11.0"}}}

  :httpkit
  {:extra-deps {http-kit/http-kit {:mvn/version "2.5.1"}}}


  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
  ;;                 Fiddle Aliases                      ;;
  ;; Add your custom extra deps and configurations below ;;
  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  :hello-fiddle {}

  :electric-tutorial
  {:extra-deps
   {backtick/backtick {:mvn/version "0.3.4"} ; staffly
    com.datomic/peer {:mvn/version "1.0.7075"}
    datascript/datascript     {:mvn/version "1.6.1"}
    reagent/reagent           {:mvn/version "1.2.0"}
    markdown-clj/markdown-clj {:mvn/version "1.11.7"}
    io.github.nextjournal/clojure-mode {:git/sha "5d88847aecd253e047f36565e0455bfec7f4964d"}
    org.clojure/core.match {:mvn/version "1.1.0"} ; staffly, todos
    org.apache.tika/tika-core {:mvn/version "1.24"} ; explorer: datafy-fs
    }
   :override-deps ; uberjar sees only this one alias
   {com.hyperfiddle/electric {:local/root "vendor/electric"}
    com.hyperfiddle/hyperfiddle {:local/root "vendor/hyperfiddle"}}}

  :optimistic-todomvc
  {:extra-deps
   {datascript/datascript {:mvn/version "1.6.1"}}}

  :datomic-browser
  {:extra-deps
   {com.datomic/peer {:mvn/version "1.0.7075"}}
   :override-deps ; uberjar sees only this one alias
   {com.hyperfiddle/electric {:local/root "vendor/electric"}
    com.hyperfiddle/hyperfiddle {:local/root "vendor/hyperfiddle"}}}

  :staffly
  {:extra-deps
   {backtick/backtick {:mvn/version "0.3.4"}
    com.datomic/peer {:mvn/version "1.0.7075"}
    org.clojure/core.match {:mvn/version "0.3.0-alpha5"}}
   :override-deps ; uberjar sees only this one alias
   {com.hyperfiddle/electric {:local/root "vendor/electric"}
    com.hyperfiddle/hyperfiddle {:local/root "vendor/hyperfiddle"}}}

  :xtdb-demo ; process must be started with `XTDB_ENABLE_BYTEUTILS_SHA1=true clj -A:xtdb-demo:...`
  {:extra-deps
   {com.xtdb/xtdb-core {:mvn/version "1.23.0"}
    com.xtdb/xtdb-rocksdb {:mvn/version "1.23.0"}}
   :jvm-opts [;; the following option is required for JDK 16 and 17 (https://github.com/xtdb/xtdb/issues/1462)
              "--add-opens=java.base/java.util.concurrent=ALL-UNNAMED"]}

  :uix-demo
  {:extra-deps {com.pitch/uix.core {:mvn/version "1.0.1"}
                com.pitch/uix.dom {:mvn/version "1.0.1"}}}

  :dustingetz
  {:extra-deps
   { ; intentionally blank
    com.cognitect.aws/api       {:mvn/version "0.8.711"}
    com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.12.702"}
    com.cognitect/http-client     {:mvn/version "1.0.127"}
    com.cognitect.aws/endpoints   {:mvn/version "871.2.29.35"}
    com.cognitect.aws/autoscaling {:mvn/version "871.2.29.35"}
    com.cognitect.aws/dynamodb    {:mvn/version "871.2.29.35"}
    com.cognitect.aws/ec2         {:mvn/version "871.2.29.35"}
    com.cognitect.aws/iam         {:mvn/version "871.2.29.35"}
    com.cognitect.aws/lambda      {:mvn/version "871.2.29.35"}
    com.cognitect.aws/s3          {:mvn/version "871.2.29.35"}
    com.cognitect.aws/ssm         {:mvn/version "871.2.29.35"}
    com.cognitect.aws/sts         {:mvn/version "871.2.29.35"}

    hawk/hawk {:mvn/version "0.2.11"}
    org.apache.tika/tika-core {:mvn/version "1.24"} ; for contrib.datafy-fs file type detection
    clj-jgit/clj-jgit {:mvn/version "1.0.2"}
    #_#_clj-http/clj-http {:mvn/version "3.12.3"}
    #_#_com.datomic/peer {:mvn/version "1.0.7075"}
    #_#_com.hyperfiddle/hfql {:local/root "vendor/hfql"}
    #_#_cheshire/cheshire {:mvn/version "5.12.0"}
    #_#_markdown-clj/markdown-clj {:mvn/version "1.11.7"}
    #_#_io.github.nextjournal/clojure-mode {:git/sha "5d88847aecd253e047f36565e0455bfec7f4964d"}}}

  :datagrid
  {:extra-deps
   {com.hyperfiddle/heroicons-electric {:mvn/version "79c4d15" :exclusions [com.hyperfiddle/electric]}
    org.apache.tika/tika-core {:mvn/version "1.24"} ; for contrib.datafy-fs file type detection
    metosin/malli {:mvn/version "0.14.0"}
    com.datomic/peer {:mvn/version "1.0.7075"}
    clj-jgit/clj-jgit {:mvn/version "1.0.2"} ; git browser
    }}

  :heroicons
  {:extra-deps
   {com.hyperfiddle/heroicons-electric {:mvn/version "0327158"}}}
  :heroicons-local-deps ; experts only - requires `git submodule update --init --recursive`
  {:extra-paths ["vendor/heroicons-electric/target/gen"]} ; make sure you run the build script inside the submodule

  }}
