{:deps    {
           org.clojure/tools.logging      {:mvn/version "1.2.4"}
           ch.qos.logback/logback-classic {:mvn/version "1.4.14"}

           com.hyperfiddle/electric-datomic-browser {:local/root "../publish/electric-datomic-browser/target/datomic-browser-a8688e1.jar"} ; replace this with correct version. See Readme.md

           ring/ring {:mvn/version "1.9.6"}
           ring/ring-jetty-adapter {:mvn/version "1.8.2"}
           ring/ring-servlet {:mvn/version "1.8.2"}
           ring-basic-authentication/ring-basic-authentication {:mvn/version "1.1.1"}
           org.eclipse.jetty.websocket/websocket-server {:mvn/version "9.4.31.v20200723"} ; matching jetty version from ring-jetty-adapter
           org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.4.31.v20200723"}
           }
 :paths   ["src" "resources"]
 :aliases {:prod {:extra-paths ["src-prod"]}}}
 