;; For dev only - listed fiddles will be loaded at REPL start.
;; Restart your REPL for changes to take effect.
{:loaded-fiddles [hello-fiddle
                  electric-tutorial   ; requires :electric-tutorial alias
                  #_datomic-browser   ; requires :datomic-browser alias
                  #_xtdb-demo         ; requires :xtdb-demo alias
                  #_uix-demo          ; requires :uix-demo alias and `npm install`
                  #_datagrid
                  #_custom-types
                  london-talk-2024
                  #_heroicons
                  ]
 }
