{:builds
 {:dev  {:target :browser
         :devtools {:loader-mode :default, :watch-dir "resources/public"}
         :output-dir "resources/public/electric_starter_app/js"
         :asset-path "/electric_starter_app/js"
         :modules {:main {:entries [dev] :init-fn dev/-main}}
         :build-hooks [(hyperfiddle.electric.shadow-cljs.hooks3/reload-clj)]}
  :prod {:target :browser
         :output-dir "resources/public/electric_starter_app/js"
         :asset-path "/electric_starter_app/js"
         :modules {:main {:entries [prod] :init-fn prod/-main}}
         :module-hash-names true}}}
