app = "dawn-night-7975"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "ewr"

[build.args]
  HYPERFIDDLE_FIDDLE_NS="electric-tutorial.tutorial"
  HYPERFIDDLE_FIDDLE_DEPS_ALIAS="electric-tutorial"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 200
    soft_limit = 150
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

[[vm]]
  size = 'shared-cpu-8x'
  memory = '2gb'
