.user-examples-code { max-width: 80ch; }

/* Forms, Crud, TodoMVC(!important) */
.user-examples-target [aria-busy="true"] { background-color: yellow !important; }
.user-examples-target [aria-invalid="true"] { background-color: pink; }

/* Toggle, TemperatureConverter, TodoMVC */
.user-examples-target dl { margin: 0; display: grid; grid-template-columns: max-content auto; }
.user-examples-target dt { grid-column: 1; font-weight: 700; }
.user-examples-target dd { grid-column: 2; margin-bottom: .5rem; margin-left: 1em; }

.user-examples-target.Todos ul { list-style: none; padding-left: 0; }

.user-examples-target.webview table { display: grid; column-gap: 1ch; }
.user-examples-target.webview tr { display: contents; }
.user-examples-target.webview.Webview1 table {grid-template-columns: repeat(3, max-content);}
.user-examples-target.webview.Webview2 table {grid-template-columns: repeat(4, max-content);}
