@media (min-width: 981px){
    .user-examples-code { max-width: 80ch; }
}

.user-examples-target form {
    display: contents; /* we're nesting them */
    /* padding: 0.2rem; */ /* so we can see background-color */
}

/* Toggle, TemperatureConverter, TodoMVC */
.user-examples-target dl { margin: 0; display: grid; grid-template-columns: max-content auto; }
.user-examples-target dt { grid-column: 1; font-weight: 700; }
.user-examples-target dd { grid-column: 2; margin-bottom: .5rem; margin-left: 1em; }

.user-examples-target.Todos ul { list-style: none; padding-left: 0; }

.user-examples-target.webview table { display: grid; column-gap: 1ch; }
.user-examples-target.webview tr { display: contents; }
.user-examples-target.webview.Webview1 table {grid-template-columns: repeat(3, max-content);}
.user-examples-target.webview.Webview2 table {grid-template-columns: repeat(4, max-content);}
.user-examples-target.webview.Webview2 { padding-bottom: 5em; /* room for options */}

.user-examples-target.SystemProperties { max-height: 27rem; } /* match size of the 22 loc */
.user-examples-target.DirTree { max-height: 33rem; } /* match size of the 27 loc */