.user-examples-code { max-width: 80ch; }

/* Forms, Crud, TodoMVC(!important) */
.user-examples-target [aria-busy="true"] { background-color: yellow !important; }
.user-examples-target input[type="checkbox"][aria-busy="true"] {
    /* Can't color or background-color native checkboxes
       border and outline are tricky to get right without messing up keyboard nav */
    box-shadow: 0 0 0.2rem 0.2rem yellow; /* simulate a border */
    outline: none;
}

.user-examples-target [aria-invalid="true"] { background-color: pink; }
.user-examples-target input[aria-invalid="true"] { outline: 3px pink solid; }
.user-examples-target input[type="checkbox"][aria-invalid="true"]:focus { outline: 4px pink solid; }

/* Toggle, TemperatureConverter, TodoMVC */
.user-examples-target dl { margin: 0; display: grid; grid-template-columns: max-content auto; }
.user-examples-target dt { grid-column: 1; font-weight: 700; }
.user-examples-target dd { grid-column: 2; margin-bottom: .5rem; margin-left: 1em; }

.user-examples-target.Todos ul { list-style: none; padding-left: 0; }

.user-examples-target.webview table { display: grid; column-gap: 1ch; }
.user-examples-target.webview tr { display: contents; }
.user-examples-target.webview.Webview1 table {grid-template-columns: repeat(3, max-content);}
.user-examples-target.webview.Webview2 table {grid-template-columns: repeat(4, max-content);}
