.user-examples-code { max-width: 80ch; }

/* Forms, Crud, TodoMVC */
.user-examples-target [aria-busy="true"] { background-color: yellow; }

/* Toggle, TemperatureConverter, TodoMVC */
.user-examples-target dl { margin: 0; display: grid; grid-template-columns: max-content auto; }
.user-examples-target dt { grid-column: 1; font-weight: 700; }
.user-examples-target dd { grid-column: 2; margin-bottom: .5rem; margin-left: 1em; }

.user-examples-target.Todos ul { list-style: none; padding-left: 0; }

.user-examples-target.Chat ul.channel,
.user-examples-target.ChatMonitor ul.channel {
    display: flex; flex-direction: column-reverse; /* bottom up */
    height: 220px; overflow-y: clip; /* pending pushes up server records */
    padding: 0; /* remove room for bullet in grid layout */
}

.user-examples-target.ChatMonitor ul.channel li,
.user-examples-target.Chat ul.channel li { display: grid; }