{attributes            (hfql/props [(hfql/props :db/ident {::hfql/link    (attribute-detail :db/ident)
                                                           ::hfql/Tooltip EntityTooltip})
                                    (attribute-count %)
                                    (summarize-attr* %)
                                    :db/doc]
                         {::hfql/TitleTooltip SummarizeDatomicAttribute})
 (attribute-detail :a) (hfql/props [(hfql/props :db/id {::hfql/link (entity-detail %v)})]
                         {::hfql/TitleTooltip SummarizeDatomicAttribute
                          ::hfql/Tooltip SemanticTooltip})
 (tx-detail :tx)       [(hfql/props :e {::hfql/link    (entity-detail :e)
                                        ::hfql/Tooltip EntityTooltip})
                        (hfql/props {:a :db/ident} {::hfql/link    (attribute-detail %v)
                                                    ::hfql/Tooltip EntityTooltip})
                        (hfql/props :v {::hfql/Tooltip TxDetailValueTooltip})]
 (entity-detail :e)    (hfql/props [(hfql/props :db/id {::hfql/Render EntityDbidCell})] ; TODO want link and Tooltip instead
                         {::hfql/mode :browse
                          ::hfql/Tooltip SemanticTooltip})
 (entity-history :e)   [:e
                        (hfql/props {:a :db/ident} {::hfql/link    (attribute-detail %v)
                                                    ::hfql/Tooltip EntityTooltip})
                        :v
                        (hfql/props :tx {::hfql/link    (tx-detail :tx)
                                         ::hfql/Tooltip EntityTooltip})
                        :added]}
