;; For dev only - listed fiddles will be loaded at REPL start.
;; Restart your REPL for changes to take effect.
{:hyperfiddle/fiddles
 [hello-fiddle.hello-fiddle
  electric-tutorial.tutorial ; requires :electric-tutorial alias
  datomic-browser.mbrainz-browser ; requires :electric-tutorial alias
  dustingetz.dustingetz ; requires :dustingetz alias
  #_dustingetz.dustingetz-private
  #_staffly.staffly
  #_ui-demo.fiddles
  #_xtdb-demo ; requires :xtdb-demo alias
  #_uix-demo ; requires :uix-demo alias and `npm install`
  ]}
