;; For dev only - listed fiddles will be loaded at REPL start.
;; Restart your REPL for changes to take effect.
{:hyperfiddle/fiddles
 [hello-fiddle.hello-fiddle
  electric-tutorial.tutorial ; requires :electric-tutorial alias
  datomic-browser.mbrainz-browser ; requires :datomic-browser alias
  #_xtdb-demo ; requires :xtdb-demo alias
  #_uix-demo ; requires :uix-demo alias and `npm install`
  #_datagrid
  dustingetz.dustingetz
  #_dustingetz.dustingetz-private
  staffly.staffly
  #_ui-demo.fiddles]}
