/* combobox wrapper, can be any node containing a combobox with a related listbox */
:has(> [role=combobox] + [aria-role=listbox]) {
    position: relative; /* so the listbox floats under and with the input */
    contain: layout;
    width: fit-content;
    /* border: 1px red solid; */
}

:has(> [role=combobox][aria-expanded=true] ) {
    z-index: 1;
}

[role=combobox] + [aria-role=listbox] {
    visibility: hidden;
    position: absolute;
    contain: content;
    display: grid;
    grid-auto-flow: row;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%; /* as wide as the combobox input */
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
    padding: 0.125rem 0;
    border: 1px rgb(203 213 225) solid;
}


[role=combobox] + [aria-role=listbox] svg{
    justify-self: center;
    max-width: 1rem;
    animation: combobox-loader-spin 1s linear infinite;
}

[role=combobox][aria-expanded=true] + [aria-role=listbox]{
    visibility: visible;
}

[role=combobox] + [aria-role=listbox] [aria-role=option]{
    display: grid;
    grid-template-columns: subgrid; grid-template-rows: subgrid; /* ensure all rows look alike, even without display:contents; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    max-width: 100%;
    cursor:pointer;
}

@keyframes combobox-loader-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}