@import url('tutorial.css');

body.electric-fiddle{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    gap: 1rem;
    margin: 0;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;

    box-sizing: content-box;
    position: relative;
    background-color:white;
}

body > div.Tutorial /* includes Essay-app */ {
    padding-bottom: 10vh; /* add space, for mobile especially */
}

.electric-fiddle .user-examples{
    display: grid;
    grid-template-areas: "code result";
    grid-template-rows: auto;
    grid-template-columns: min-content auto;
    margin: 1em 0 1em; /* gh markdown removes final p's margin */
}

.electric-fiddle .user-examples fieldset{
    background-color: white;
    overflow: auto;
    min-inline-size: auto;
}
.electric-fiddle .user-examples fieldset legend{
    margin: 0 1rem;
}

.electric-fiddle > h1{
    white-space: nowrap;
}

.electric-fiddle .user-examples-target{
    grid-area:result;
    max-height: 40rem; /* it was 41 why ? */
}

.electric-fiddle .user-examples-readme{
    line-height: 24px;
    max-width: 80ch;
}


@media (max-width: 980px) and (hover: none) and (pointer: coarse) {
    .electric-fiddle .user-examples-code{
        overflow: scroll;
        margin:0;
    }
}

@media (max-width: 980px){
    body.electric-fiddle .user-examples{
        /* display: flex;
        flex-direction: column; */
        grid-template-areas: "result" "code";
        grid-template-rows: min-content auto;
        grid-template-columns: 100%;
    }

    .electric-fiddle .user-examples-code{
        max-height: initial;
    }

    .electric-fiddle .user-examples-target{
        padding: 1rem;
        overflow:auto;
        max-height: 50vh;
    }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    body.electric-fiddle{
        font-size: 16px;
        grid-template-areas: "result" "code";
        grid-template-rows: min-content min-content;
        grid-template-columns: 100%;
        line-height: initial;
    }

    body.electric-fiddle h1 {
        margin:0;
    }

    .electric-fiddle .user-examples-code{
        font-size: 1rem;
    }
    .electric-fiddle .user-examples-target{
        max-height: 13rem;
    }

}

