/* Scroll machinery */
.dustingetz-EasyTable { position: fixed; } /* mobile: don't allow momentum scrolling on page */
.dustingetz-EasyTable .Viewport { height: 100%; overflow-x:hidden; overflow-y:auto; }
.dustingetz-EasyTable table { display: grid; }
.dustingetz-EasyTable table tr {
  height: var(--row-height); grid-row: var(--order);
  display: grid; grid-column: 1 / -1; grid-template-columns: subgrid; }

/* standard grid cosmetics (optional) */
.dustingetz-EasyTable fieldset { padding: 0; background-color: white; }
.dustingetz-EasyTable legend { margin-left: 1em; font-size: larger; }
.dustingetz-EasyTable legend > input[type=text] { vertical-align: middle; }
.dustingetz-EasyTable table { padding-left: 0.5em; }
.dustingetz-EasyTable table :where(tr[data-row-stripe='0']) { background-color: #f2f2f2; }
.dustingetz-EasyTable table tr:hover:has(*) { background-color: #ddd; }
.dustingetz-EasyTable table tr[aria-selected=true]:has(*) { color: white; background-color: #0064e1; /* finder color */ }
.dustingetz-EasyTable table td:not(:has(*)) { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }