@media (min-width: 981px){
    .user-examples-code { max-width: 80ch; }
}

.user-examples-target form {
    display: contents; /* we're nesting them */
    /* padding: 0.2rem; */ /* so we can see background-color */
}

/* Toggle, TemperatureConverter, TodoMVC */
.user-examples-target dl { margin: 0; display: grid; grid-template-columns: max-content auto; }
.user-examples-target dt { grid-column: 1; font-weight: 700; }
.user-examples-target dd { grid-column: 2; margin-bottom: .5rem; margin-left: 1em; }

.user-examples-target.Todos ul { list-style: none; padding-left: 0; }

.user-examples-target.SystemProperties { max-height: 27rem; } /* match size of the 22 loc */
.user-examples-target.DirTree { max-height: 33rem; } /* match size of the 27 loc */

.hf-debug *[data-hf-create-delta-time]:hover{
    border: 1px red solid;
    box-sizing: border-box;
    background-color: white;
}

.hf-debug *[data-hf-create-delta-time]:hover::before {
    display: block;
    content: 'create: 'attr(data-hf-create-delta-time) 'ms / append:' attr(data-hf-append-delta-time)'ms';
    position: absolute;
    font-size: 0.75rem;
    /* content: "hello"; */
    color: white;
    background-color: red;
    padding: 0.125rem 0.25rem;
    margin-top: -1.25rem;
    z-index: 2;
}