@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;

/** Add custom CSS here */

/* Print */

@media print{
    ::-webkit-scrollbar{
        display: none;
    }
    .virtual-scroll{
        height: max-content!important; /* Expand virtual scrolls for print. Make sure you set a max-height. */
        overflow-y: visible;
    }
}

/* Paqe */

.rosie .tag {
    @apply border max-w-64 px-2 rounded bg-white flex gap-1 items-center;
}
.rosie .tag>span { @apply text-nowrap overflow-hidden text-ellipsis; }
.rosie .tag>button { @apply text-xl hover:font-bold; }

.rosie .page{
    @apply flex flex-col gap-5 p-5 w-full items-stretch;
}

.rosie .page > h1{
    @apply text-base font-semibold leading-7 text-gray-900;
}

.rosie .page a{
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
}


/* Divider */

.hf-rosie-divided{
    @apply divide-y divide-gray-200;
}

/* Description List */

.rosie .description-list{
    @apply table-auto w-fit;
}

.rosie .description-list > tbody{
    @apply hf-rosie-divided;
}


.rosie .description-row > th:first-child{
    @apply text-sm text-left font-medium leading-6 text-gray-900;
}

.rosie .description-row > *:last-child{
    @apply pl-3 mt-1 text-sm leading-6 text-gray-700 sm:mt-0;
}

/* .rosie dt { @apply py-0.5 text-sm/6 px-2 font-medium text-gray-900 text-right; } */
/* .rosie dd { @apply py-0.5 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0; } */

/* Table Subsections */

.rosie.page.overrides .errors table{
    width: 100%;
}

.rosie .subsection{
    @apply sm:px-4 lg:px-6 w-full;
}

.rosie .subsection-header{
    @apply flex flex-wrap gap-3 items-baseline justify-between w-full mt-2 mb-2;
}

.rosie .subsection-header .subsection-title{
    @apply text-base font-semibold leading-6 text-gray-900;
}

.rosie .subsection-body{
    @apply min-w-full;
}

.rosie .subsection-body > tbody{
    @apply hf-rosie-divided;
}

.rosie .subsection-body .header-group{
    @apply pt-2 font-semibold rounded-t-lg;
}

.rosie .subsection-body .header-row{
    @apply align-baseline bg-white;
}

.rosie .subsection-body .header-row > th{
    @apply px-3 text-left text-sm font-semibold text-gray-900;
}

.rosie .subsection-body th,
.rosie .subsection-body td{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.rosie .subsection .rosie-current{
    @apply bg-gray-50;
}

.rosie .subsection .rosie-override{
    @apply bg-orange-50;
}

.rosie .subsection .rosie-override-accent{
    @apply bg-orange-100;
}

/* Buttons */

.rosie .button{
    @apply ring-1 ring-gray-300 rounded px-3 py-2;
}

/* Icons */

.rosie .icon{
    @apply h-5 w-5 text-gray-400;
}

/* Dialog */

.rosie dialog::backdrop{
    backdrop-filter: blur(2px);
}

/* --- */

.rosie .search-input{
    @apply border-0 bg-white py-1 pl-3 pr-10 text-gray-900 shadow-sm ring-1 ring-gray-300 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}


/* Soft Hidden */

.soft-display-none {
    /* Simulates display:none for when display:none is too slow (typically on large dom trees) */
    overflow: hidden;
    visibility: collapse;
    margin: 0 !important; /* !important is ok in this case */
    padding: 0 !important;
    height: 0 !important;
    border: 0 !important;
}

/* Tabs */

.rosie .subsections{
    @apply border rounded-md hf-rosie-divided;
}

.rosie [role="tablist"]{
    @apply flex -mb-px overflow-x-auto;
}

.rosie [role="tablist"] [role="tab"]{
    @apply px-3 py-3 text-gray-500 whitespace-nowrap text-sm font-medium;
    @apply border-b-2 border-transparent hover:border-gray-300 hover:text-gray-700;
    @apply focus:outline-none focus-visible:outline-none focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-indigo-600;
}

.rosie [role="tablist"] [role="tab"][aria-selected="true"]{
    @apply text-gray-800 font-medium border-indigo-500;
}

.rosie [role="tabpanel"][aria-hidden="true"]{
    @apply soft-display-none;
}

/* Tree */

:root{
    --hf-tree-depth: -1;
}

.rosie .tree{
    display: grid;
    grid-template-columns: auto 1fr;
    @apply gap-x-1;
    --hf-tree-depth-rec: calc(var(--hf-tree-depth) + 1); /* CSS recursion */
}

.rosie .tree .tree{
    display: contents;
}

.rosie .tree > .branch
, .rosie .tree > .leaf
{
    display: contents;
    --hf-tree-depth: var(--hf-tree-depth-rec);
}

.rosie .tree > li > .key{
    @apply font-normal text-gray-700 block truncate;
    grid-column: 1;
    padding-left: calc(var(--hf-tree-depth) * 1rem);
    @apply flex items-center;
}

.rosie .tree > .leaf > .key::after{
    content: '';
    display: inline-block;
    border: 0.5px solid;
    @apply border-gray-300 w-full mx-1;
    height: 1px;
}


.rosie .tree > li > .value{}


.electric-container.rosie {
    contain:layout;
    height: 100%;
    overflow: auto;
}

.rosie a:link{
    color: #0000EE;
}

.rosie a:visited {
    color: #551A8B;
}

.rosie a:focus {
    text-decoration: none;
}

.rosie a:hover {
    text-decoration: none;
}

.rosie a:active {
    text-decoration: underline;
}

/* Virtual Scroll */

.virtual-scroll {
    overflow: auto;
    position: relative;
    --virtual-scroll-row-height: 30px;
}

.virtual-scroll > *:not([aria-hidden="true"]) {
    position: sticky;
    top:0;
}



/* HF ComboBox */

.hyperfiddle-typeahead { @apply relative mt-2; }
.hyperfiddle-typeahead > input { @apply rounded-md border-0 bg-white text-sm py-1 pl-2 pr-12 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600; }
.hyperfiddle-typeahead > ul { @apply absolute z-10 mt-1 overflow-auto rounded-md bg-white py-1 text-sm shadow-lg ring-1 ring-black/5 focus:outline-none; }
.hyperfiddle-typeahead > ul > li { @apply relative cursor-default select-none py-0 pl-2 pr-2 text-gray-900; }
.hyperfiddle-typeahead > ul > li > span:nth-of-type(1) { @apply block truncate; }
.hyperfiddle-typeahead > ul > li > span:nth-of-type(2) { @apply absolute inset-y-0 left-0 flex items-center pl-1.5; }
.hyperfiddle-typeahead > button { @apply absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none; }
.hyperfiddle-typeahead > button > svg { @apply size-5 text-gray-400; }

/* Picker */

.rosie .picker{
    @apply relative;
}

.rosie .picker .picker-input{
    @apply w-full border-0 bg-white py-1 pl-3 pr-10 text-gray-900 shadow-sm ring-gray-300 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 disabled:bg-gray-100 disabled:cursor-not-allowed;
}

.rosie .picker .picker-clear-button,
.rosie .picker .picker-expand-button {
    @apply absolute inset-y-1 right-0 items-center rounded-r-md pr-2 focus:outline-none;
    z-index: 1;
}

.rosie .picker > .picker-options
{
    @apply absolute mt-1 max-h-60 min-w-full overflow-y-auto overflow-x-hidden overscroll-contain rounded-md bg-white text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm ;
    z-index: 2;
}

.rosie .picker .picker-spinner{
    @apply absolute inset-y-1 right-0 mr-px flex items-center pr-2 bg-white;
    z-index: 2;
}

/* Pills */

.pill {
    @apply text-xs text-center p-0.5 rounded aspect-square rounded-full;
    height: 1.65em;
    font-variant-numeric: tabular-nums;
}

/* subgrid */

.hyperfiddle.subgrid-row{
    display: grid;
    grid-template-columns: subgrid; /* Only in major browsers after Sept 2023 */
    grid-column: 1/-1;
    transform: scale(1); /* raise row to its own rendering context enable style on row. e.g. box shadow */
}

.hyperfiddle-debug { resize: vertical; height: 5em; overflow: scroll; }

@media print{
    .hyperfiddle.subgrid-row
    , .rosie .datagrid tr {
        break-inside: avoid;
    }
}


/* Rosie inputs */

.rosie input.explorer-input{
    @apply self-baseline;
}

.rosie dd .hyperfiddle-typeahead{
    @apply m-0;
}
.rosie dd input:not([type="radio"]){
    @apply py-0.5 rounded;
}

.rosie .hyperfiddle-typeahead {
    @apply relative w-fit;
}
.rosie .hyperfiddle-typeahead > ul{
    @apply border border-gray-200 shadow-lg w-full;
}

.rosie .hyperfiddle-typeahead > ul > li{
    @apply cursor-pointer hover:bg-slate-200;
}

/* Rosie forms */

.rosie form button[type="submit"], form button[type="reset"]{
    @apply px-1.5;
    border: 1px lightgray solid;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.rosie form button{
    @apply p-2;
}

.rosie [role=grid] form button, .rosie dd form button{
    @apply px-2 py-[unset];
}

.rosie form button[type="submit"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rosie form button[type="reset"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rosie dd form button[type=submit]{
    @apply ml-2;
}
/* Rosie gridsheet */

.rosie [role="grid"]{
    border-radius: 5px;
    border: 1px lightgray solid;
}

.rosie [role="grid"] [role="columnheader"]{
    @apply text-xs/6 text-gray-700 font-semibold capitalize;
    padding: 0 0.5rem;
}

.rosie [role="grid"] [role="gridcell"]{
    padding: 0 calc(var(--indent) + 0.5rem);
}

/* hide double top bar in nested DLs */
.rosie dl dt:first-child + dd{
    border-top: none;
}

/* align nested dls */

.rosie dl dl {
    margin-top: -0.125rem; /* compensate for dd padding */
}

.rosie [role="grid"] .hyperfiddle-tags{
    @apply flex-nowrap;
}
.rosie [role="grid"] .hyperfiddle-tags > *{
    min-width: fit-content;
}

/* Rosie checkboxes */

.rosie input[type="checkbox"]{
    @apply size-4 rounded border-gray-300 text-indigo-500 focus:ring-indigo-600;
}

.rosie input[aria-busy="true"]
{
    @apply ring-4 ring-yellow-300 focus:ring-yellow-300;
}


.rosie dl{
    @apply tabular-nums grid gap-x-1 gap-y-0.5 mb-4 grid-cols-[auto_1fr];
}

.rosie dt{
    @apply py-0.5 text-sm/6 px-2 font-semibold text-gray-900 text-right;
}

.rosie dd{
    @apply py-0.5 text-sm/6 text-gray-700 sm:mt-0;
}

/* Stepper animations */

nav [role=list] [aria-current=step] .step-indicator{
    transform:scale(0);
    animation: 1s ease-in-out 1.5s step-indicator;
    animation-fill-mode: forwards;
}


nav [role=list] .step-completed-indicator{
    clip-path: circle(20%);
    animation: 1s ease-in-out 1s completed-indicator;
    animation-fill-mode: forwards;
}

nav [role=list] .step-completed-indicator svg{
    transform:scale(0);
    animation: 1s ease-in-out 1s step-indicator;
    animation-fill-mode: forwards;
}

@keyframes step-indicator{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }
}

@keyframes completed-indicator{
    from{
        clip-path: circle(25%);
    }
    to{
        clip-path: circle(100%);
    }
}


/* Page specific customizatons */

/* .rosie dd.-esub-region { width: 20em; } -- not working ? */

/** ------------------- */

@tailwind utilities;
